name: Tests

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:
    inputs:
      interactive_debug:
        description: open SSH session for interactive debug on failure
        type: boolean
        default: false
  schedule:
    # Run tests once a month to catch regressions with beta & nightly.
    # Would actually like to run in response to Rust releases or at least on their schedule (every 6 weeks),
    # but neither is (easily) possible.
    - cron: 38 3 4 * *

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: pinned # don't rename
            os: ubuntu-latest
            rust: 1.21.0

          - build: beta
            os: ubuntu-latest
            rust: beta

          - build: nightly
            os: ubuntu-latest
            rust: nightly

    steps:
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - uses: actions/checkout@v4

      - name: run tests
        run: cargo test --verbose --features ops
      - name: run tests (no_std)
        run: cargo test --verbose --no-default-features --features ops

      - name: Interactive debug
        uses: mxschmitt/action-tmate@v3
        if: failure() && github.event_name == 'workflow_dispatch' && inputs.interactive_debug
